@font-face {
  font-family: olympiccarrierexpand;
  src: url(./fonts/olympiccarrierexpand.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';

* {
  box-sizing: border-box;
  // will-change: transform;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: linear-gradient(180deg, #120325 0%, #050505 100%);
}
body {
  background: url('../assets//images/background.png') repeat right center;
  font-family: 'Montserrat';
  min-height: 100vh;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 1250px) {
    overflow-y: visible;
    overflow-x: hidden;
  }
}

.container {
  max-width: 1728px;
  width: 90%;
  margin: 0 auto;
}

.body-layer {
  position: fixed;
  z-index: -1;
  background: linear-gradient(180deg, #120325 0%, #050505 100%);
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  left: 0;
  top: 0;
  @media (max-width: 1200px) {
    height: 100%;
  }
}

.w-c {
  will-change: transform;
}
